body.login {
  background-color: #222;
}
body.login div#login h1 a {
  background-image: url(login-logo.png)!important;
}
body.login div#login form#loginform p.submit input#wp-submit {
    background-color: #1C6139;
}
body.login div#login form#loginform p.submit input#wp-submit:hover {
	    border-color: #1E7131;
    background-color: #1E7131;
}
.login #login_error, .login .message {
    border-left: 4px solid #1C6139;
}
input[type=checkbox]:checked:before {
    color: #1C6139;
}

input[type=text]:focus, input[type=search]:focus, input[type=radio]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, input[type=password]:focus, input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, select:focus, textarea:focus {
    border-color: #1E6131;
}

.wp-core-ui .button-primary {
    border-color: #1E7131 #1C6139 #1C6139;
}

input#wp-submit.button-primary:focus {
	    box-shadow: 0 1px 0 #1C6139,0 0 2px 1px #000;
}
