img {
	height: auto;
	width: 100%;
}

// CAPTIONS
.wp-caption,
.caption,
figcaption {
	color: map-get($ui-color, alt-dark);
	text-align: left;
	font-style: italic;
	font-size: 13px;
}

// PHOTOG CREDIT
.media-credit {
	float: right;
	font-size: 12px;
	white-space: normal
}
