.date,
.small {
	font-size: 11px;
	color: $grey;
}

//Standards
cite,
dfn,
em,
i {
	font-style: italic;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

pre {
	white-space: pre-wrap;
	background: $black;
	color: $grey;
	font-family: Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
}

kbd,
p code,
tt,
var {
	font-family: Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	background: #ddd;
	padding: 3px;
	border-radius: 2px;
}

abbr {
	border-bottom: 1px dotted #666;
	cursor: help;
}

ins,
mark {
	background: map-get($ui-color, alt-light);
}

blockquote {
	padding: 0.5em 0 0.5em 0.6em;
	border-left: solid $black 4px;
}

html[lang="fr"] q {
	quotes: "\00ab" "\00bb";
}

//Article related
.underline {
	border-bottom: 3px solid #4D8FAC;
	box-shadow: inset 0 -6px 0 #4D8FAC;
}

.underline:hover {
	background-color: #4D8FAC;
	color: $white;
	text-decoration: none;
}
@import 'article';
