.site-container {
  margin-left: auto;
  margin-right: auto;

  width: calc(100% - 100px);
}

@media (max-width:767px) {
  .site-container {
    width: calc(100% - 40px);
  }
}

@media (min-width:1200px) {
  .site-container {
    max-width: 1600px;
  }
}

.article-info {
  margin-top: 0.6em;
}

#the-article {
  max-width: 700px;
  margin: 0 auto;
}

.post-edit-btn {
  color: #fff;
  background: map-get($ui-color, 'brand');
  padding: 0.5rem;
  border-radius: 3px;
  float: right;
  margin-top: -13px;
}

@import 'loop';
@import 'header';
@import 'footer';
@import 'sidebar';
@import 'feature';
