.site-container {
	margin-left: auto;
	margin-right: auto;
	min-height: 70vh;
	width: calc(100% - 100px);
}

@media (max-width:767px) {
	.site-container {
		width: calc(100% - 40px);
	}
}

@media (min-width:1200px) {
	.site-container {
		max-width: 1600px;
	}
}

.article-header {
	position: relative;
	grid-area: header;

	.article-featured-image {
		max-height: 50vh;
		overflow: hidden;
	}
}
.article-meta-container {
	grid-area: meta;
	max-width: 700px;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 2em;
}
.article-details {
	grid-area: details;
}

#the-article {
	grid-area: article;
	max-width: 700px;
	margin: 0 auto;
	padding-bottom: 3rem;
}

// the article + css grid
.site-container.single {
	grid-template-areas:
		"header"
		"details"
		"meta"
		"article"
		"sidebar";

	grid-template-columns: 100%;
	grid-template-rows: 1fr
                      300px
                      auto
                      auto;
}

@include media('>desktop') {
	.site-container.single {
		display: grid;
		grid-template-areas: 
			"header header header"
			"details meta sidebar"
			"details article sidebar";

		grid-template-columns: 250px 1fr 310px;
		grid-template-rows: auto
	                      auto
	                      1fr;
	}
}

@import 'loop';
@import 'header';
@import 'footer';
@import 'sidebar';
@import 'feature';
