/**
 * The Loop!
 * 
 * 
 */

.index .stories{
	max-width: 1200px;
	margin: 4em auto 4em auto;
	padding: 1em;
}

.stories {
	.section-header {
		width: 100%;
		height: 1.42em;
		background: #ccc;
		position: relative;
	}
	.section-title {
		position: absolute;
		background: $brand-dark;
		display: block;
		padding: 3px 6px 3px 6px;
		color: #eee;
		font-size: 14px;
	}
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: -10px;
}


.flex-item.medium {
	flex-grow: 2;
}

.flex-item.large {
	flex-grow: 3;
}
// the new 'cards'

.stories .story {
	line-height: 17px;
	position: relative;
	padding-bottom: 3rem;
	margin: 10px 10px 0 0;
	flex-grow: 1;


	.item-image {
		display: block;
		max-height: 160px;
		overflow: hidden;
	}

	.item-title {
		font-size: 18px;
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
	}
	
	.author {
		position: absolute;
		bottom: 10px;
		font-size: 12px;
		font-style: italic;
		text-transform: uppercase;
	}

	.author a:hover {
		color: darken($grey, 20%);
	}

	.tagged {
		background: map-get($ui-color, 'brand-dark');
		position: absolute;
		font-size: 12px;
		text-transform: uppercase;
		top: 0;
		right: 0;
		a {
			color: white;
			padding: 3px 6px;
		}
	}

	.item-category {
		font-size: 12px;
	}
}

.featured.stories .story{
	width: 49%;
	flex-grow: 1;
	margin: 10px 10px 0 0;

	.item-image {
		max-height: 350px;
	}
}

.card-wrapper {
	padding-top: 10px;
}


// Adjust to look better on bigger devices.
@media screen and (min-width: 550px) {
	.stories .story {
		width: 40%;
	}
}

// Adjust to look better on bigger devices.
@media screen and (min-width: 900px) {
	.stories .story {
		width: 20%;
	}

	.featured.stories {
		.story.medium {
			width: 30%;
		}
		.story.large {
			width: 66%;
			// margin-top: 2em;
			padding: 0em;
			background: #eee;
			.item-image {
				display: inline-block;
				width: 50%;
			}
			.card-wrapper {
				display: inline-block;
				padding-left: 1em;
				vertical-align: top;
				max-width: 45%;
			}
			.item-title {
				font-family: 'Oswald', sans-serif;
				font-size: 35px;
				text-transform: uppercase;
				line-height: 1.2;
				padding-top: 1em;
				display: inline-block;
			}
			.author {
				padding-top: 1em;
				display: inline-block;
				position: static;
			}
		}
		.story.centerfold {
			width: 100%;
			// margin-bottom: 1em;
			.item-image {
				min-height: fit-content;
				width: 100%;
			}
			.card-wrapper {
				position: absolute;
				bottom: 2.8em;
				background: rgba(240, 240, 240, 0.9);
				width: 100%;
				padding: 1em 1em 4em 1em;
			}
			.item-title {
				font-family: 'Oswald', sans-serif;
				font-size: 35px;
				text-transform: uppercase;
			}
			.item-category {
				display: none;
			}
		}
	}

}

.stories.search .story {
	max-width: 400px;
}

@include media('>=900px', '<=1200px') {
	.stories .story .item-image {
		max-height: 110px;
	}
}

@include media('<=620px', '>=520px') {
	.stories .story .item-image {
		max-height: 130px;
	}
}