
// specific to the cards, this is the little 'up' animation.
.index-title {
  margin: 10px 0 0;
  font-size: 2rem;
  color: white;
  padding: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: $white;
  margin: 10px 10px 0 0;
  flex-grow: 1;
}

.flex-item.medium {
  flex-grow: 2;
}

.flex-item.large {
  flex-grow: 3;
}

.flex-item.centerfold {
  flex-grow: 5;
}

.card {
  .author {
    a { color: $grey; }
    bottom: 1rem;
    line-height: 1;
    color: $grey;
  }

  .author a:hover {
    color: darken($grey, 20%);
  }
}

.tagged {
  background: map-get($ui-color, 'brand');
  position: absolute;
  top: 0;
  right: 10px;
  a {
    color: white;
    padding: 3px 6px;
  }
}

.card-wrapper {
  padding-top: 10px;
}

.card-title {
  line-height: 1;
  font-size: 32px;
}

.category-description {
  font-size: 12px;
}

// Adjust to look better on bigger devices.
@media screen and (min-width: 550px) {
  .flex-item {
    width: 48%;
  }
}

// Adjust to look better on bigger devices.
@media screen and (min-width: 1080px) {
  .flex-item {
    width: 25%;
  }

  .flex-item.medium {
    width: 33%;
  }

  .flex-item.large {
    width: 66%;
  }

  .flex-item.centerfold {
    width: 100%;
  }
}
