#sidebar {
	grid-area: sidebar;
	width: 310px; //12px to spare.
	list-style: none;
	background: map-get($ui-color, brand);
	margin-bottom: 1em;
	margin-top: 2em;
	padding: 5px;
	height: 767px;
	ul {
		list-style: none;
	}
}



@include media('<desktop') {
	#sidebar {
		display: none;
	}
}

@include media('>desktop') {
	#the-article{
		padding-right: 3em;
	}
}


.sidebar-widget {
	padding: .5em;
	color: $white;
	h3 {
		line-height: 1.6;
	}
	a {
		color: map-get($ui-color, alt-bright);
		&:hover {
			color: lighten(map-get($ui-color, alt-bright), 5%);
		}
	}
}

.sidebar-img {
	@include transition(.2s transition);
	&:hover {
		opacity: 0.9;
	}
}

.no-sidebar, .short-post {
	#sidebar {
		display: none !important;
	}
}  