.byline-profile {
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 100px);
	padding-bottom: 3em;
	display: flex;
	flex-wrap: wrap;
	.name {
		margin: 0;
	}
	.contact {
		font-size: 16px;
		color: #aaa;
		padding-bottom: 2em;
	}
}

.byline-img {
	width: 200px;
	height: 200px;
	margin-right: 3em;
	margin-bottom: 2em;
	border-radius: 50%;
}

// Article Integration


.article-details {
	margin-top: 1em;
	// grid-template-columns: 200px auto 50px 40px
	
	.article-byline {
		margin: .5em;
		height: 4em;
		width: 300px;
		display: inline-block;
		.author-details {
			margin: 10px;
			float: left;
			text-transform: capitalize;
		}
		.byline-twitter {
			font-style: italic;
			color: #aaa;
		}
		.post-byline-image {
			width: 70px;
			height: 70px;
			float: left;
			border-radius: 50%;
		}
	}
}

