.tgl {
	display: none;
}

.tgl-btn {
	outline: 0;
	display: block;
	width: 2em;
	height: 1em;
	position: relative;
	cursor: pointer;
	user-select: none;
	&:after,
	&:before {
		position: relative;
		display: block;
		content: "";
		width: 50%;
		height: 100%;
	}
	&:after {
		left: 0;
	}
	&:before {
		display: none;
	}
}

&:checked {
	+ .tgl-btn {
		&:after {
			left: 50%;
		}
	}
}

.tgl-btn {
	background: $black;
	border-radius: 1em;
	padding: 1px;
	transition: all .4s ease;
	&:after {
		border-radius: 50%;
		background: #fff;
		transition: all .2s ease;
	}
}

&:checked {
	+ .tgl-btn {
		background: $white;
		&:after {
			background: $black;
		}
	}
}

.single.dark-ui {
	::selection {
		background: #FFFF00;
		color: #000;
	}

	::-moz-selection {
		background: #FFFF00;
		color: #000;
	}
	main,
	#the-article,
	#the-article p,
	.search-form {
		color: #ccc;
		background: $black;
	}
	pre {
		border: solid $white 1px;
	}
	blockquote {
		border-left: solid $white 4px;
	}
	#global-header,
	.nav-element.nav-selected {
		background-color: map-get($ui-color, brand);
	}
	a,
	p code,
	tt,
	kbd,
	var {
		color: map-get($ui-color, alt-bright);
	}
	.nav-trigger {
		span,
		span::before,
		span::after {
			background-color: $white;
		}
	}
	.nav-is-visible .nav-trigger span {
		background-color: rgba(255, 255, 255, 0);
	}
	.media-credit::before {
		content: url(../img/camera-dark.svg);
		padding: 5px;
	}
}