@import 'bylines';

.related-posts-container { // div
	background: $grey;
}

#plant-related-posts, .related-posts-container h4 {
	max-width: 700px;
	margin: 0 auto;
	padding: 2em 0 2em 0;
}

#plant-related-posts {
	list-style-type: none;
}
