// SEARCH 
.search-form {
	text-align: center;
	.search {
		padding: 0;
		border: none;
		font-size: 30px;
		text-align: center;
		height: $search-height;
		background: darken(#fff, 20%);
		color: $brand !important;
		&:active, &:focus, &:hover {
			background: #fff !important;
		}
	}
	:focus {
		// outline-offset: -3px;
		outline: $brand auto 2px;
		outline-style: inset;
	}
}

input:-webkit-autofill {
	color: $dark !important;
	background: $light !important;
	-webkit-box-shadow: 0 0 0 50px white inset;
	-webkit-text-fill-color: #999;
}